.container__slider {
  position: relative;
  width: 100%;
  padding: 0;
  height: 650px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  background: radial-gradient(circle, #fff7e7, rgb(244, 119, 40));
}

.container__slider > button {
  background-color: transparent;
  outline: none;
  border: 0;
  color: whitesmoke;
  font-size: 24px;
  z-index: 10;
}

.container__slider > button:active {
  color: black;
}

.slider__btn-next {
  position: absolute;
  right: 10px; 
  top: 50%;
  transform: translateY(-50%);
}

.slider__btn-prev {
  position: absolute;
  left: 10px; 
  top: 50%;
  transform: translateY(-50%);
}

.container__slider__links {
  position: absolute;
  bottom: 10px; 
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.container__slider__links-small {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid grey;
  transition: background-color 0.3s ease;
  margin: 0 4px;
}

.container__slider__links-small-active {
  background-color: black;
}

.slider__item {
  box-sizing: border-box;
  min-width: 100%;
  height: 100%;
  overflow: hidden;
  transform: translateX(0);
  transition: transform 1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__item-active-1 { transform: translateX(0); }
.slider__item-active-2 { transform: translateX(-100%); }
.slider__item-active-3 { transform: translateX(-200%); }
.slider__item-active-4 { transform: translateX(-300%); }
.slider__item-active-5 { transform: translateX(-400%); }
.slider__item-active-6 { transform: translateX(-500%); }
.slider__item-active-7 { transform: translateX(-600%); }
.slider__item-active-8 { transform: translateX(-700%); }
.slider__item-active-9 { transform: translateX(-800%); }
.slider__item-active-10 { transform: translateX(-900%); }
.slider__item-active-11 { transform: translateX(-1000%); }
.slider__item-active-12 { transform: translateX(-1100%); }
.slider__item-active-13 { transform: translateX(-1200%); }
.slider__item-active-14 { transform: translateX(-1300%); }
.slider__item-active-15 { transform: translateX(-1400%); }
.slider__item-active-16 { transform: translateX(-1500%); }
.slider__item-active-17 { transform: translateX(-1600%); }
.slider__item-active-18 { transform: translateX(-1700%); }
.slider__item-active-19 { transform: translateX(-1800%); }
.slider__item-active-20 { transform: translateX(-1900%); }
.slider__item-active-21 { transform: translateX(-2000%); }
.slider__item-active-22 { transform: translateX(-2100%); }
.slider__item-active-23 { transform: translateX(-2200%); }
.slider__item-active-24 { transform: translateX(-2300%); }



.slider__item img,
.slider__item video {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  width: auto;
  height: auto;
}

/* Specific styles for video to ensure it's centered */
.slider__item video {
  display: block;
  margin: 0 auto;
}